<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/index.js"></script>
</head>
<body>
    Todo title
    <input type="text" id="title"/>
    <br>
        <br>
            Todo description
            <input type="text" id="description"/>
            <br>
                <br>
                    <button onclick="onPress()">send todo</button>
                    <div id = "parent">
                    </div>
                </body>
               
            </html>
</body>
</html>